OPENAI_API_TOKEN=""
OPENAI_API_TEMPETURE="0.2"
OPENAI_API_MODEL="gpt-3.5-turbo"
OPENAI_API_MAX_TOKENS="1000"
DATASET_RELATIVE_PATH="dataset"
ATTRIBUTIONS_FILENAME="attributions.toml"
# fill with a secure token with a command like:
# python -c "import secrets; print(secrets.token_urlsafe())"
SECRET_KEY=""
SECURITY_ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=2880
COOKIE_DOMAIN="localhost"
COOKIE_PATH="/"
CLUSTER_IDS_LENGTH=33
CURATED_KEYPHRASES_LENGTH=16