venv
_[0-9a-zA-Z]*
_*.ipynb
*.pyc
.vscode
.env
_*.sqlite
_ne.sql
__pycache__
.DS_Store
*.bak
attributions.toml
node_modules
yarn.lock
*.bkp
*.egg-info
run.log
.pid
dataset/annotations/tests
*storybook.log
storybook-static
