[submodule "reactpy-material-akira"]
	path = reactpy-material-akira
	url = https://github.com/marceloakira/reactpy-material.git
[submodule "reactpy-material"]
	path = reactpy-material
	url = https://github.com/williamneto/reactpy-material
